.subscribe {
  margin-left: auto;
}

.fotter-form {
  display: flex;
}

.footer-primary-text {
  margin-bottom: 20px;
}

.footer-input {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  background-color: var(--footer-color);
  color: var(--white-color);

  padding: 15px 15px;
}
.footer-sub-btn {
  width: 200px;
  height: 50px;
  border: 0;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  padding-left: 29px;
  margin-left: 12px;
  cursor: pointer;
}

.footer-sub-icon {
  margin-left: 10px;
}
.footer-input {
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input:hover,
.footer-input:focus {
  border-color: var(--accent-color);
}
