h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  padding-top: 0;
  margin-left: 0;
  padding-left: 0;
}

* {
  text-decoration: none;
}
ul {
  list-style: none;
}
.body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
section {
  margin: 0px;
}
